/* Style articles */
article {
    border-top: solid 4px rgb(22, 106, 112);
    box-shadow: 1px 1px 5px rgb(75, 75, 75);
    background-color: rgb(249, 247, 244);
}
.article-text {
    color: rgb(10, 114, 109);
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.article-image {
    width: 100%;
    height: auto;
}
article h2 {
    font-size: 3rem;
}
/* Article animations */
a article:hover h2 {
    text-decoration: underline;
}
a article:hover {
    box-shadow: 1px 1px 10px rgb(75, 75, 75);
}
