/* Style Footer */
* {
    padding: 0;
    margin: 0;
}

footer {
    background: rgb(27, 26, 26);
    color: beige;
    padding: 5rem;
    margin-top: auto;
}
#footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'shortcuts services follow'
        '. footer-logo .';
    justify-content: center;
}
#footer-news {
    display: grid;
    grid-area: shortcuts;
    justify-content: center;
    align-items: start;
}
#footer-services {
    display: grid;
    grid-area: services;
    justify-content: center;
    align-items: start;
}
#footer-links {
    display: grid;
    grid-area: follow;
    justify-content: center;
    align-self: start;
}
#footer-logo-container {
    display: grid;
    grid-area: footer-logo;
    justify-content: center;
    padding-top: 2rem;
}
#footer-logo {
    color: rgb(135, 10, 66);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}
.footer-info {
    color: rgb(106, 179, 184);
    text-decoration: none;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
.footer-info h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.icons {
    width: 1rem;
    filter: invert(73%) sepia(10%) saturate(1273%) hue-rotate(135deg)
        brightness(88%) contrast(91%);
}
/* Animations */
.footer-info a:hover {
    color: rgb(22, 106, 112);
}
.footer-info a:active {
    text-decoration: underline;
}

/*filter: invert(30%) sepia(89%) saturate(423%) hue-rotate(135deg)
        brightness(90%) contrast(87%);*/
