* {
    padding: 0;
    margin: 0;
}

#build-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1em;
    background: rgb(238, 238, 238);
}

#structure-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'main sidebar';
    gap: 1em;
    padding-left: 200px;
    padding-right: 200px;
}

/* Style main */
#main-container {
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    gap: 2rem;
}
#main-container a {
    text-decoration: none;
}
#sidebar-container {
    display: grid;
    grid-area: sidebar;
}
/* Style search */
input[type='search'] {
    border-radius: 30px;
    padding: 5px;
    color: black;
    border-color: rgb(10, 114, 109);
    border-style: solid;
    border-width: 1px;
}
input:focus {
    background-color: rgb(106, 179, 184);
    color: rgb(255, 255, 255);
    border-width: 3px;
    border-color: rgb(10, 114, 109);
}

/* Style articles homepage */
article {
    border-top: solid 4px rgb(22, 106, 112);
    box-shadow: 1px 1px 5px rgb(75, 75, 75);
    background-color: rgb(249, 247, 244);
}
.article-text {
    color: rgb(10, 114, 109);
    padding-left: 10px;
    padding-bottom: 5px;
}
.article-image {
    width: 100%;
    height: auto;
}
article h2 {
    font-size: 42px;
}
/* Article animations */
a article:hover h2 {
    text-decoration: underline;
}
a article:hover {
    box-shadow: 1px 1px 10px rgb(75, 75, 75);
}
